body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

section {
  margin-bottom: 20px;
}
section p{
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  width: 95%;
  margin-top: 12px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  background-color: orange;
  color: white;
}
button:hover {
  background-color: darkorange; }
ul {
  padding-left: 20px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background: #f0f0f0;
  /* background-color: green; */
  border-radius: 6px;
  text-transform: capitalize;
}

.delete-btn {
  width: auto;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: red;
  color: white;
}
.delete-btn:hover {
  background-color: darkred;
}
section h2,section p {
  text-align: center;
}
